force-app/main/default/flows/ZipCodeService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Zippopotam</name>
        <label>Zippopotam</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <actionName>zippopotam.zippopotam</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>check_country</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handling_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ZipCode</name>
            <value>
                <elementReference>ZipCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zippopotam.zippopotam</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>es</name>
        <choiceText>España</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>es</stringValue>
        </value>
    </choices>
    <choices>
        <name>mx</name>
        <choiceText>México</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mx</stringValue>
        </value>
    </choices>
    <choices>
        <name>us</name>
        <choiceText>United States</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>us</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_country</name>
        <label>check country</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_First_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>us_territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zippopotam.2XX.countryx20abbreviation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_USA_territory</targetReference>
            </connector>
            <label>us territory</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Stringaddress</name>
        <dataType>String</dataType>
        <expression>{!Get_First_Address.placex20name} &amp; &quot;, &quot; &amp; {!Get_First_Address.state} &amp; &quot;, &quot; &amp; {!Get_First_Address.longitude} &amp; &quot;, &quot; &amp; {!Get_First_Address.latitude}</expression>
    </formulas>
    <interviewLabel>ZipCodeService {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZipCodeService</label>
    <loops>
        <name>Get_First_Address</name>
        <label>Get First Address</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <collectionReference>Zippopotam.2XX.places</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_record_different_to_USA</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_platform_event</name>
        <label>Create platform event</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_First_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Stringaddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Non-US territory found</stringValue>
            </value>
        </inputAssignments>
        <object>Global_Platform_event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_record_different_to_USA</name>
        <label>create record different to USA</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_platform_event</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Name__c</field>
            <value>
                <elementReference>Get_First_Address.placex20name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>latitude__c</field>
            <value>
                <elementReference>Get_First_Address.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>longitude__c</field>
            <value>
                <elementReference>Get_First_Address.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>state__c</field>
            <value>
                <elementReference>Get_First_Address.state</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Handling_Exception</name>
        <label>Handling Exception</label>
        <locationX>618</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_Service</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The service probably is unavailable for now, please try again later.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_USA_territory</name>
        <label>Is USA territory</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;US Territory&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Zip_Code_Search</name>
        <label>Zip Code Search</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Zippopotam</targetReference>
        </connector>
        <fields>
            <name>Country</name>
            <choiceReferences>es</choiceReferences>
            <choiceReferences>mx</choiceReferences>
            <choiceReferences>us</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ZipCode</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Zip_Code_Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
